@use "sass:math";

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.container{
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

.content{
    flex: 1;
    border: 1px solid lightgrey;
}

ul{
    padding: 0;
    margin: 2px;
    display: flex;
    list-style: none;
}
/******************************************
/* LAYOUT
/*******************************************/

.align{
    display: flex;
    width: 1000px;
    height: 1000px;
    margin: auto;
}


/******************************************
/* MODULE
/*******************************************/

.menu{
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 5px;
}

button{
    background: none;
    border: none;
}


.colors{
    flex: 1;
    width: 50px;
    height: 50px;
}

#red{
    background-color: red;
    border: 2px solid black;
}

.red{
    background-color: red;
}

#green{
    background-color: green;
    border: 2px solid black;
}
.green{
    background-color: green;
}

#blue{
    background-color: blue;
    border: 2px solid black;
}
.blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
    border: 2px solid black;
}
.yellow{
    background-color: yellow;
}

#black{
    background-color: black;
    border: 2px solid black;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

#optionMenu{
    width: 200px;

    >*{
    flex: 1;
    margin-left: 5%;
    flex: 1;
    color: black;
    font-size: 20px;
    background-color: white(63, 111, 243);
    border: 1px solid blue;
    border-radius: 3px;
    width: 40px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    }
}

/******************************************
/* STATE
/*******************************************/

#colBar{
    margin-right: 50px;
    width: 500px;
    list-style-type: none;
    gap: 10px;
}


/******************************************
/* OTHER STYLES
/*******************************************/